<h1>Search Flights</h1>
<%= render 'search_form', airports:       @airports,
                          num_passengers: @num_passengers,
                          flight_dates:   @flight_dates %>

<% if params[:flight] %>
  <h2>Search Results</h2>  
<% end %>                        
<%= render 'search_result_form', search_results: @search_results,
                                 num_passengers: @selected_num_passengers %>